 body {
     background-color: rgb(128, 128, 128);
 }

 html {
     margin: 50px;
     padding: 0px;
     font-family: Sniglet;
     text-align: center;

 }

 h1 {
     color: #ecf0f1;
     text-align: center;
     font-size: 40px;
     margin: 0px;
     height: 70px;
 }

 label[for=judul] {
     color: black;
     font-weight: bold;
     font-size: 50px;
 }

 input.merah {
     -webkit-appearance: none;
     width: 160px;
     height: 40px;
     margin: 10px 50px;
     padding: 5px;
     /* border: 1px solid grey; */
     background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(250, 0, 0, 1));
     filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
     background-size: 150px 10px;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     outline: none;
     zoom: 130%;
     display: block;
     margin: auto;
     margin-bottom: 30px;
 }

 input.hijau {
     -webkit-appearance: none;
     width: 160px;
     height: 40px;
     margin: 10px 50px;
     padding: 5px;
     /* border: 1px solid grey; */
     background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1));
     filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
     background-size: 150px 10px;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     outline: none;
     zoom: 130%;
     display: block;
     margin: auto;
     margin-bottom: 30px;
 }

 input.biru {
     -webkit-appearance: none;
     width: 160px;
     height: 40px;
     margin: 10px 50px;
     padding: 5px;
     /* border: 1px solid grey; */
     background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1));
     filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
     background-size: 150px 10px;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     outline: none;
     zoom: 130%;
     display: block;
     margin: auto;
     margin-bottom: 30px;
 }

 input::-webkit-slider-thumb {
     -webkit-appearance: none;
     width: 20px;
     height: 20px;
     background: white;
     /* box-shadow: 2px 1px 3px black; */
     filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
     border-radius: 50px;
     position: relative;
     z-index: 3;
 }

 #jonatan-homo {
     background: red;
 }